[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/pure"]
	path = zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
	ignore = untracked
[submodule "vim/pack/vendor/start/ack.vim"]
	path = vim/pack/vendor/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = untracked
[submodule "vim/pack/vendor/start/gundo.vim"]
	path = vim/pack/vendor/start/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "vim/pack/vendor/start/lightline.vim"]
	path = vim/pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
	ignore = untracked
[submodule "vim/pack/vendor/start/nerdcommenter"]
	path = vim/pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-argwrap"]
	path = vim/pack/vendor/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-buffergator"]
	path = vim/pack/vendor/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/pack/vendor/start/supertab"]
	path = vim/pack/vendor/start/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-gitgutter"]
	path = vim/pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
	ignore = untracked
[submodule "vim/pack/vendor/start/incsearch.vim"]
	path = vim/pack/vendor/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
	ignore = untracked
[submodule "vim/pack/vendor/start/incsearch-fuzzy.vim"]
	path = vim/pack/vendor/start/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
	ignore = untracked
[submodule "vim/pack/vendor/start/incsearch-easymotion.vim"]
	path = vim/pack/vendor/start/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
	ignore = untracked
[submodule "vim/pack/vendor/start/syntastic"]
	path = vim/pack/vendor/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
	ignore = untracked
[submodule "vim/pack/vendor/start/python-syntax"]
	path = vim/pack/vendor/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
	ignore = untracked
[submodule "vim/pack/vendor/start/SimpylFold"]
	path = vim/pack/vendor/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
	ignore = untracked
[submodule "vim/pack/vendor/start/FastFold"]
	path = vim/pack/vendor/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-snazzy"]
	path = vim/pack/vendor/start/vim-snazzy
	url = https://github.com/connorholyday/vim-snazzy.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-unimpaired"]
	path = vim/pack/vendor/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-tmux-navigator"]
	path = vim/pack/vendor/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
	ignore = untracked
[submodule "vim/pack/vendor/start/goyo.vim"]
	path = vim/pack/vendor/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
	ignore = untracked
[submodule "vim/pack/vendor/start/limelight.vim"]
	path = vim/pack/vendor/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
	ignore = untracked
